[Unit]
Description=MQTT Publisher
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u publisher_robot_brazer.py -t machines/machine-02 -c machine-02
WorkingDirectory=/home/mark/mqtt_publisher
StandardOutput=inherit
StandardError=inherit
Restart=always
User=mark

[Install]
WantedBy=multi-user.target
